body
{
  background-color: #000000;
  font-family: "times-new-roman", Times, serif;
  font-size: 14px;
}

h1
{
    font-family: "times-new-roman", Times, serif;
    text-align:center;
    font-size: 225%;
    font-weight: 500;
    line-height: 1.1;
}

@keyframes rainbow
{
  0% {color: #ff0000}
  15% {color: #ff9900}
  22% {color: #ffff00}
  29% {color: #33cc33}
  36% {color: #0000ff}
  43% {color: #9933ff}
  50% {color: #cc00ff}
  57% {color: #9933ff}
  64% {color: #0000ff}
  71% {color: #33cc33}
  78% {color: #ffff00}
  85% {color: #ff9900}
  100% {color: #ff0000}
}

.rainbow
{
  animation-name: rainbow;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
}

video 
{
  object-fit: contain;
}
